body {
  direction: rtl;
  font-family: "Vazirmatn", sans-serif;
}
@media (max-width: 768px) {
  th,
  td {
    padding: 8px;
    font-size: 12px;
  }
  .table-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
table {
  border: 2px solid white;
  direction: rtl;
}
.dataTables_wrapper{
    height: 75vh;
    overflow: auto;
}
thead{
   top: 0;
}
tr:hover{
    background-color: rgb(72, 72, 72) !important;
}
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }